.flex-gray {
    display: flex;
    margin: 0px;
}

.block {
    box-sizing: border-box;
}

.blue { background-color: blue; }
.light-blue { background-color: skyblue; }
.red { background-color: red; }
.green { background-color: green; }
.yellow { background-color: yellow; }
.gray { background-color: gray; }
.brown { background-color: brown; }

.float-layout .blue { width: 80%; height: 100px; float: left; }
.float-layout .light-blue { width: 30%; height: 100px; float: left; }
.float-layout .red { width: 70%; height: 100px; float: left; }
.float-layout .green { width: 30%; height: 100px; float: left; }
.float-layout .yellow { width: 70%; height: 200px; float: left; }
.float-layout .gray { width: 100%; height: 75%; float: left; }

/* Flexbox Layout */
.flexbox-layout { display: flex; flex-wrap: wrap; }
.flexbox-layout .blue { flex: 1 1 80%; width: 80%;  height: 30%; }
.flexbox-layout .light-blue { flex: 1 1 30%; width: 50%; height: 100%; }
.flexbox-layout .red { flex: 1 1 70%; width: 80%; height: 40%; }
.flexbox-layout .green { flex: 1 1 30%; height: 60%; }
.flexbox-layout .yellow { flex: 1 1 70%; width: 80%; height: 70%; }
.flexbox-layout .gray { width: 100%; height: 750px; }
.flexbox-layout .brown {

/* Grid Layout */
.grid-layout { display: grid; grid-template-columns: repeat(2, 1fr); gap: 3px; }
.grid-layout .blue { grid-column: 1 / 3; height: 100px; }
.grid-layout .light-blue { grid-column: 1; height: 100px; }
.grid-layout .red { grid-column: 2; height: 100px; }
.grid-layout .green { grid-column: 1; height: 100px; }
.grid-layout .yellow { grid-column: 2; grid-row: 3 / 5; }
.grid-layout .gray { grid-column: 1 / 3; height: 100px; }


@media (max-width: 500px) {
    .float-layout .light-blue,
    .float-layout .red,
    .float-layout .green,
    .float-layout .yellow {
        width: 80%;
    }
    .flexbox-layout .light-blue,
    .flexbox-layout .red,
    .flexbox-layout .green,
    .flexbox-layout .yellow {
        flex: 1 1 100%;
    }
    .grid-layout {
        grid-template-columns: 1fr;
    }
    .grid-layout .light-blue,
    .grid-layout .red,
    .grid-layout .green,
    .grid-layout .yellow {
        grid-column: 1;
    }
}
